<div class="example-container">
  <mat-toolbar class="example-toolbar" class="example-toolbar" style="height: 102px;">
    <div fxLayout="column" style="margin-left: 6%;">
      <div style="font-size: 150%;
     color: green;" routerLink='/'>Employee</div>
      <div style="font-size: 150%;" routerLink='/'>Payroll</div>
    </div>
  </mat-toolbar>
</div>
<div fxLayout="row" fxLayoutAlign="center center" [formGroup]="userDetail">
  <mat-card class="container" fxFlex="50%" flex-wrap: wrap fxFlex.xs="100%">
    <div class="header"> Employee Payroll form</div>

    <div fxLayout="row" fxLayoutAlign="start start" style="margin-top: 5%;">
      <div style="font-size: 53%;
      margin-right: 10%;
      margin-top: 2.5%;"> Name </div>
      <mat-form-field class="field" fxFlex='98' appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput class="matInput" formControlName="name" autocomplete="off" placeholder="Name">

      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" style="margin-top: 0%;">
      <div style="font-size: 53%;
        margin-right: 4%;
        margin-top: 2.5%;"> Gender </div>
      <mat-radio-group aria-label="Gender" fxLayout="row" fxLayoutAlign="space-evenly start" style="width: 140px;     padding-top: 2%;

                " fxFlex='98' formControlName="gender">
        <mat-radio-button style="font-size: 49%" value="male">Male</mat-radio-button>
        <mat-radio-button style="font-size: 49%" value="female">Female</mat-radio-button>
      </mat-radio-group>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" style="margin-top: 3%;">
      <div style="font-size: 53%;
          margin-right: 4%;
          margin-top: 2.5%;"> Department </div>

      <div *ngFor="let department of department" fxLayout="row" fxLayoutAlign="space-between center"
        style="width: 140px;padding-top: 2%;" fxFlex='98'>
        <mat-checkbox style="font-size: 49%" #checkBox formControlName="department" [value]="department"
          (change)="getCheckbox(checkBox)">{{department}}</mat-checkbox>

      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start" style="margin-top: 3%;">
      <div style="font-size: 53%;
        margin-right: 10%;
        margin-top: 2.5%;"> Salary </div>

      <mat-slider thumbLabel [displayWith]="formatLabel" formControlName="salary" (input)="getPrecio($event)" min="0"
        max="1500000" step="1" value="{{precio}}"></mat-slider>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start" style="margin-top: 1%;">
      <div style="font-size: 53%;
          margin-right: 6%;
          margin-top: 2.5%;"> Start Date </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 140px;padding-top: 2%;" fxFlex='50'>
        <mat-form-field class="field" fxFlex='50' appearance="outline">
          <mat-label>Day</mat-label>
          <select matNativeControl required formControlName="day">
            <option *ngFor="let day of Day " [value]="day">
              {{day}}
            </option>
          </select>

        </mat-form-field>

        <mat-form-field class="field" fxFlex='50' appearance="outline" style="margin-left: 7%;">
          <mat-label> Month</mat-label>
          <select matNativeControl required formControlName="month">
            <option *ngFor="let month of Month " [value]="month">
              {{month}}
            </option>
          </select>

        </mat-form-field>
        <mat-form-field class="field" fxFlex='50' appearance="outline" style="margin-left: 7%;">
          <mat-label> Year</mat-label>
          <select matNativeControl required formControlName="year">
            <option *ngFor="let year of Year " [value]="year">
              {{year}}
            </option>
          </select>

        </mat-form-field>
      </div>
    </div>


    <div fxLayout="row" fxLayoutAlign="start start">
      <div style="font-size: 53%;
        margin-right: 10%;
        margin-top: 2.5%;"> Notes </div>
      <mat-form-field class="field" fxFlex='98' appearance="outline">
        <mat-label>Notes</mat-label>
        <input matInput class="matInput" autocomplete="off" placeholder="Notes">

      </mat-form-field>
    </div>

    <div class="button" fxLayout='row' fxLayoutAlign='end space-between'>
      <button class="register" *ngIf="!isEdit" mat-raised-button color="primary" (click)="register()">Submit</button>
      <button class="register" *ngIf="isEdit" mat-raised-button color="primary" (click)="update()">Update</button>
      <button class="register" mat-raised-button color="primary" (click) = "reset()">Reset</button>

    </div>
  </mat-card>
</div>