<div class="example-container">
  <mat-toolbar class="example-toolbar" class="example-toolbar" style="height: 102px;">
    <div fxLayout="column" style="margin-left: 6%;">
      <div style="font-size: 150%;
     color: green;" routerLink='/'>Employee</div>
      <div style="font-size: 150%;" routerLink='/'>Payroll</div>
    </div>
  </mat-toolbar>
</div>
<div fxLayout="row" fxLayoutAlign="center center" [formGroup]="userDetail">
  <mat-card class="container" fxFlex="50%" flex-wrap: wrap fxFlex.xs="100%">
    <div class="header"> Employee Payroll form</div>

    <div fxLayout="row" fxLayoutAlign="start start" style="margin-top: 5%;">
      <div style="font-size: 53%;
      margin-right: 10%;
      margin-top: 2.5%;"> Name </div>
      <mat-form-field class="field" fxFlex='98' appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput class="matInput" formControlName="name" autocomplete="off" placeholder="Name">
        <mat-error fxFlex
        *ngIf="!userDetail.controls['name'].valid && userDetail.controls['name'].touched">
        Name is Required </mat-error>
      </mat-form-field>
    </div>
<!-- 
    <div fxLayout="row" fxLayoutAlign="start start" style="margin-top: 1%;">
        <div style="font-size: 53%;
        margin-right: 10%;
        margin-top: 2.5%;" >Profile</div>
        <mat-radio-group aria-label="Image" fxLayout="row"
            fxLayoutAlign="space-evenly" fxFlex='98'  style="width: 140px;     padding-top: 2%;">
            <mat-radio-button value="../assets/profile-images/Ellipse -3.png">
                <img src="../assets/Ellipse -3.png" alt="img1">
            </mat-radio-button>
            <mat-radio-button value="../assets/profile-images/Ellipse -1.png">
                <img src="../assets/Ellipse -1.png" alt="img2">
            </mat-radio-button>
            <mat-radio-button value="../assets/profile-images/Ellipse -8.png">
                <img src="../assets/Ellipse -8.png" alt="img3">
            </mat-radio-button>
            <mat-radio-button value="../assets/profile-images/Ellipse -7.png">
                <img src="../assets/Ellipse -7.png" alt="img4">
            </mat-radio-button>
        </mat-radio-group>
    </div> -->
    <div fxLayout="row" fxLayoutAlign="start center" style="margin-top: 0%;">
      <div style="font-size: 53%;
        margin-right: 4%;
        margin-top: 2.5%;"> Gender </div>
      <mat-radio-group aria-label="Gender" fxLayout="row" fxLayoutAlign="space-evenly start" style="width: 140px;     padding-top: 2%;

                " fxFlex='98' formControlName="gender">
        <mat-radio-button style="font-size: 49%" value="male">Male</mat-radio-button>
        <mat-radio-button style="font-size: 49%" value="female">Female</mat-radio-button>
       
      </mat-radio-group>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" style="margin-top: 3%;">
      <div style="font-size: 53%;
          margin-right: 4%;
          margin-top: 2.5%;"> Department </div>

      <div *ngFor="let dept of department" fxLayout="row" fxLayoutAlign="space-between center"
        style="width: 140px;padding-top: 2%;" fxFlex='98'>
        <mat-checkbox style="font-size: 49%" #checkBox formControlName="department" [checked] = "toggleCheckBox(dept)" [value]="dept"
          (change)="getCheckbox()"> {{dept}}</mat-checkbox>
          
          
      </div>
     
    </div>

    <div fxLayout="row" fxLayoutAlign="start start" style="margin-top: 3%;">
      <div style="font-size: 53%;
        margin-right: 10%;
        margin-top: 2.5%;"> Salary </div>

      <mat-slider thumbLabel [displayWith]="formatLabel" formControlName="salary" (input)="getPrecio($event)" min="0"
        max="1500000" step="1" value="{{precio}}"></mat-slider>
        <mat-error style ="font-size: 25%"
        *ngIf="!userDetail.controls['salary'].valid && userDetail.controls['salary'].touched">
        Salary is Required </mat-error>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start" style="margin-top: 1%;">
      <div style="font-size: 53%;
          margin-right: 6%;
          margin-top: 2.5%;"> Start Date </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 140px;padding-top: 2%;" fxFlex='50'>
        <mat-form-field class="field" fxFlex='50' appearance="outline">
          <mat-label>Day</mat-label>
          <select matNativeControl required formControlName="day">
            <option *ngFor="let day of Day " [value]="day">
              {{day}}
            </option>
          </select>
          <mat-error fxFlex
          *ngIf="!userDetail.controls['day'].valid && userDetail.controls['day'].touched">
          Day is Required </mat-error>

        </mat-form-field>

        <mat-form-field class="field" fxFlex='50' appearance="outline" style="margin-left: 7%;">
          <mat-label> Month</mat-label>
          <select matNativeControl required formControlName="month">
            <option *ngFor="let month of Month " [value]="month">
              {{month}}
            </option>
          </select>
          <mat-error fxFlex
          *ngIf="!userDetail.controls['month'].valid && userDetail.controls['month'].touched">
          Month is Required </mat-error>
        </mat-form-field>
        <mat-form-field class="field" fxFlex='50' appearance="outline" style="margin-left: 7%;">
          <mat-label> Year</mat-label>
          <select matNativeControl required formControlName="year">
            <option *ngFor="let year of Year " [value]="year">
              {{year}}
            </option>
          </select>
          <mat-error fxFlex
          *ngIf="!userDetail.controls['year'].valid && userDetail.controls['year'].touched">
          Year is Required </mat-error>
        </mat-form-field>
      </div>
    </div>


    <div fxLayout="row" fxLayoutAlign="start start">
      <div style="font-size: 53%;
        margin-right: 10%;
        margin-top: 2.5%;"> Notes </div>
      <mat-form-field class="field" fxFlex='98' appearance="outline">
        <mat-label>Notes</mat-label>
        <input matInput class="matInput" autocomplete="off" placeholder="Notes">

      </mat-form-field>
    </div>

    <div class="button" fxLayout='row' fxLayoutAlign='end space-between'>
      <button class="register" *ngIf="!isEdit" mat-raised-button color="primary" (click)="register()">Submit</button>
      <button class="register" *ngIf="isEdit" mat-raised-button color="primary" (click)="update()">Update</button>
      <button class="register" mat-raised-button color="primary" (click) = "reset()">Reset</button>

    </div>
  </mat-card>
</div>