.container
{
    text-align: center;
    margin-top: 10%; 
    font-size: 40px;
}

.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .example-toolbar {
    background-color: rgb(214, 206, 206);
    
  }

.employeeHeading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
}

table{
    width: 100%;
}

.tableWrapper {
    margin-top:20px;
    padding:20px;
    background:#f6f6f6;
  }

  .containerTitle {
    display:flex;
    margin-top:20px;
    font-size:12px;
    font-weight:bold;
  }

  .oneTitle {
    flex:1;
    padding:10px;
    background:#444444;
    color:#ffffff;
  }

  
.containerListItems {
    display:flex;
  }

  .three {
    flex:1;
    padding:10px;
  }

  .two {
    flex:1;
    padding:10px;
  }

  .one {
    flex:1;
    padding:10px;
  }

  
//   .example-button-row button,
// .example-button-row a {
//   margin-right: 8px;
// }

.register {
  color: white;
  font-size: 16px;
  padding: 13px 30px;
  width: fit-content;
  transition: all 0.5s ease-in-out;
  border-radius: 8px;
  width: 100%;
  font-weight: 700;
  font-size: large;
}