<div class="panel panel-default">
    <div>
      Add Employee
  
    
  <div class="example-button-row">
   
    <button mat-raised-button color="primary">Primary</button>
   
  </div>
      <!-- <app-create-employee></app-create-employee> -->
    </div>
    <div class="employeeHeading">
      <h1>Employees</h1>
    </div>
    <div class="employeeBody">
      <div class="tableWrapper">
          <div class="containerTitle">
            <div class="oneTitle">Id</div>
            <div class="twoTitle">Name</div>
            <div class="threeTitle">Salary</div>
            <div class="threeTitle">Actions</div>
            <!-- <div class="four"></div> -->
          </div>
          
          <div class="containerListItems" *ngFor="let employee of employees;" [style.background-color]="changeColorOne()">
            <div class="one">{{employee.id}}</div>
            <div class="two">{{employee.name}}</div>
            <div class="two">{{employee.salary}}</div>
  
            <div class="three">
              <!-- <button (click)="editEmployee(employee.id)">E</button> -->
              <button (click)="deleteEmployee(employee.id)">X</button>
            </div>
            <!-- <div class="four"></div> -->
          </div>
          </div>
    </div>
  </div>
  